localhost:1234 {
	tls internal
	root * html

    route /hr/* {
        uri strip_prefix /hr
        reverse_proxy localhost:35729
    }

	@websockets {
		header Connection *Upgrade*
		header Upgrade websocket
	}
	reverse_proxy @websockets localhost:35729 {
		verbose_logs
	}

	header {
		# Enable CORS
		Access-Control-Allow-Origin *
		# Disable caching for development
		Cache-Control "no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0"
		Access-Control-Allow-Methods "POST, GET"
		# Enable COI
		Cross-Origin-Embedder-Policy: "require-corp"
		Cross-Origin-Opener-Policy: "same-origin"
	}

	file_server
}
