localhost:1234 {
	tls internal
	root * html
	file_server
	header {
		# Enable CORS
		Access-Control-Allow-Origin *
		# Disable caching for development
		Cache-Control "no-store, no-cache, must-revalidate, proxy-revalidate, max-age=0"
		Access-Control-Allow-Methods "POST, GET"
		# Enable COOP
		Cross-Origin-Embedder-Policy: "require-corp"
		Cross-Origin-Opener-Policy: "same-origin"
	}
}
